{% extends 'base.html' %}
{% block title %}About  {% endblock title %} 
{% block body %}
<div class=text-center><h2>About Us</h2></div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/13.jfif" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p>Vandan’s Retail Limited, part of RP Sanjiv Goenka Group, is a multi-format retailer providing a wide range of 
        quality products across categories such as food, personal care, fashion, home essentials,  to its consumers. 
        It has specialty sections such as Spencer’s Gourmet, Patisserie, Wine & Liquor, Epicuisine and an in-house designed fashion brand - 2Bme, which has apparels for men, women and children.
        </p>
        <p>
        Spencer’s introduced Indian consumers to the concept of organized retailing. It was the country's first IceCream chain back in 1920, and started India’s first hypermarket in 2001 in Hyderabad.
         Today, Spencer’s runs over 125 stores, in over 35 cities across India
        </p>
      </div>
    </div>
   
  </div>
</div>

{% endblock body %}



